body{
    padding: 10px 0;
}


/**
* MENU
*/
nav ul li a{
    transition: background 0.2s;
}

/**
* FIXED MESSAGE DISPLAY
*/
#message_display{
    display: block;
    position: fixed;
    top: 0;
    left: 50%;
    width: 500px;
    margin: 0 0 0 -250px;
    padding: 10px 15px;
    text-align: left;
    line-height: 20px;
    font-size: 1.0em;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

#message_display.success{
    color: green;
    border-color: green;
}

#message_display.error{
    color: red;
    border-color: red;
}

#message_display.hide{
    display: none;
}




.error,
.empty,
.alert{
    color: red;
}

.invalid{
    color: blueviolet;
}

.form-error, .form-empty{
    border-color: red;
}
.form-invalid{
    border-color: blueviolet;
}

